{% load static %} 
<!DOCTYPE html>  
<html lang="en"> 
<head>
<style>
@font-face {
  font-family: font2;
  src: url({% static "Aclonica.ttf" %});
}
@font-face {
  font-family: font3;
  src: url({% static "PTS76F.ttf" %});
}
.head-1
{
  margin-left:20px;
  height:100px;
  width:100%;
  background-color: coral;
  text-decoration: underline;
  letter-spacing: 3px;
  color: black;
  font-size:35px;
  font-family: font2;
}
.list-grp
{
  padding-left:10px;
  color: black;
  padding-top:10px;
  list-style-type:none;
  font-size:18px;
  font-family:font3;
}
li{background-color:transparent;}
li:hover {
  background-color: #fa8b4b;
}
.list-grp:hover {
  background-color: #C898B0;
}
</style>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
function bgChange(bg) {
  bg.style.background = '#fa8b4b';
}
function normalChange(bg) {
	  bg.style.background = '#0e114d';
	}
</script>
</head>
<div class="container-fluid">
<div class="row" style="background-color:#F7F7F3">
    <div class="col-sm-8" style="padding-top:15px;color:black;font-size:39px;font-family:font2;letter-spacing:2px;">
    domainname.com   
    </div>
    <div class="col-sm-4" style="padding-top:55px;padding-left:15px;font-size:20px;font-family:courier;font-weight:bold;color:#25B302">
     we all started with hello world    
    </div>
  </div>
</div>
<body>

<nav class="navbar navbar-inverse" style="background-color:#0e114d;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" style="margin-left:50%">
       <li class="list-group-item" onmouseover="bgChange(this)" onmouseout="normalChange(this)" style="margin-left:20px;color:white;cursor: pointer;background-color:#0e114d;border-style: none;">Home</li>
    <li class="list-group-item" onmouseover="bgChange(this)" onmouseout="normalChange(this)" style="margin-left:20px;background-color:#0e114d;color:white;cursor: pointer;border-style: none;">JAVA</li>
    <li class="list-group-item" onmouseover="bgChange(this)" onmouseout="normalChange(this)" style="margin-left:20px;background-color:#0e114d;color:white;cursor: pointer;border-style: none;">Python</li>
    <li class="list-group-item" onmouseover="bgChange(this)" onmouseout="normalChange(this)" style="margin-left:20px;background-color:#0e114d;color:white;cursor: pointer;border-style: none;">Contact</li>
      </ul>
    </div>
  </div>
</nav>
<div class="col-sm-3">

 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar2">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
 <div class="collapse navbar-collapse" id="myNavbar2">
<ul class="list-group" style="background-color:#C9C7C8;">
  <li class="list-grp" style="border-style: none">First item</li>
  <li class="list-grp" style="border-style: none;">Second item</li>
  <li class="list-grp" style="border-style: none;">Third item</li>
  <li class="list-grp" style="border-style: none;">First item</li>
  <li class="list-grp" style="border-style: none;">Second item</li>
  <li class="list-grp" style="border-style: none;">Third item</li>
  <li class="list-grp" style="border-style: none;">First item</li>
  <li class="list-grp" style="border-style: none;">Second item</li>
  <li class="list-grp" style="border-style: none;">Third item</li>
  <li class="list-grp" style="border-style: none;">First item</li>
  <li class="list-grp" style="border-style: none;">Second item</li>
  <li class="list-grp" style="border-style: none;">Third item</li>
  <li class="list-grp" style="border-style: none;">First item</li>
  <li class="list-grp" style="border-style: none;">Second item</li>
  <li class="list-group-item" style="border-style: none;">Third item</li>
</ul>
</div>
</div>
</div>

</body>
</html>
  