{% load static %} 
<!DOCTYPE html>  
<html lang="en"> 
<head>
<style>
@font-face {
  font-family: font2;
  src: url({% static "Aclonica.ttf" %});
}
.head-1
{
  margin-left:20px;
  height:100px;
  width:100%;
  background-color: coral;
  text-decoration: underline;
  letter-spacing: 3px;
  color: black;
  font-size:35px;
  font-family: font2;
}
</style>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<div class="container-fluid">
<div class="row" style="background-color:#F7F7F3">
    <div class="col-sm-8" style="padding-top:15px;color:black;font-size:39px;font-family:font2;letter-spacing:2px;">
    domainname.com   
    </div>
    <div class="col-sm-4" style="padding-top:55px;padding-left:15px;font-size:20px;font-family:courier;font-weight:bold;color:#25B302">
     we all started with hello world    
    </div>
  </div>
</div>
<body>This will be a starting</body>
</html>
  