.code_block
{
 font-family:courier;
 max-width:120%;
 color:green;
 padding: 10px;
 border: 1px solid #77aaff;
 box-shadow:  -1px 1px #77aaff,
		 -2px 2px #77aaff,
		 -3px 3px #77aaff,
		 -4px 4px #77aaff,
		 -5px 5px #77aaff;
font-size:16px;
background-color:#F7F7F3;
overflow-x:scroll;
}