.code_block
{
 font-family:courier;
 max-width:120%;
 color:green;
 padding: 10px;
 border: 1px solid #77aaff;
 box-shadow:  -1px 1px #77aaff,
		 -2px 2px #77aaff,
		 -3px 3px #77aaff,
		 -4px 4px #77aaff,
		 -5px 5px #77aaff;
font-size:16px;
background-color:#F7F7F3;
overflow-x:scroll;
}
@font-face {
  font-family: font2;
  src: url({% static "Aclonica.ttf" %});
}
@font-face {
  font-family: font3;
  src: url({% static "PTS76F.ttf" %});
}
.head-1
{
  margin-left:20px;
  height:100px;
  width:100%;
  background-color: coral;
  text-decoration: underline;
  letter-spacing: 3px;
  color: black;
  font-size:35px;
  font-family: font2;
}
.list-grp1
{
  padding-left:5px;
  margin-left:5px;
  color: black;
  padding-top:5px;
  list-style-type:none;
  font-size:15px;
  font-weight:bold;
}
.list-header
{
  font-weight:bold;
  color: black;
  padding-top:10px;
  list-style-type:none;
  font-size:250%;
  font-family:font3;
}
a{color:black;}
li{background-color:transparent;}
img{src: url({% static "arrow.png" %});}
.list-grp:hover {
  background-color: #C898B0;
}